.b-footer {
    border-top: rem(1) solid rgba(0, 0, 0, 0.05);
    margin-top: rem(55);
    padding: rem(20 0);
}

.b-footer-nav {
    display: flex;

    &__item {
        font-size: rem(12);

        & + & {
            margin-left: rem(32);
        }
    }

    &__link {
        @include transition(color .3s ease);

        display: block;

        @include hover {
            color: $siteThemeColor;
        }
    }
}
