<footer class="s-footer b-footer">
    <div class="l-container">
        <ul class="b-footer-nav list">
            <li class="b-footer-nav__item">© Re:sorcer</li>
            <li class="b-footer-nav__item">
                <a class="b-footer-nav__link" href="#">Контакти</a>
            </li>
            <li class="b-footer-nav__item">
                <a class="b-footer-nav__link" href="#">Умови використання</a>
            </li>
            <li class="b-footer-nav__item">
                <a class="b-footer-nav__link" href="#">Ще розділ</a>
            </li>
        </ul>
    </div>
</footer>
