<header class="b-header">
    <div class="b-header__container l-container">
        <a href="#" class="b-header__logo">
            <img src="img/logo.svg" alt="">
        </a>
        <div class="b-header-menu d-lg-none js-header-menu">
            <div class="b-header-menu__label">Меню</div>
            <button class="b-header-humburger">
                <svg width="50" height="50" viewBox="0 0 100 100">
                    <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058"></path>
                    <path class="line line2" d="M 20,50 H 80"></path>
                    <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942"></path>
                </svg>
            </button>
        </div>
        <div class="b-header__mobile b-header-mobile d-lg-flex">
            <ul class="b-header__nav b-header-nav list">
                <li class="b-header-nav__item">
                    <a href="#" class="b-header-nav__link">Як це працює</a>
                </li>
                <li class="b-header-nav__item">
                    <a href="#" class="b-header-nav__link" data-scroll=".b-content-benefits">Переваги</a>
                </li>
                <li class="b-header-nav__item">
                    <a href="#" class="b-header-nav__link">Ціни</a>
                </li>
            </ul>
            <div class="b-header__right">
                <a href="#" class="b-header__login b-header-login">Вхід</a>
                <div class="b-header__language b-header-language">
                    <div class="b-header-language__selected js-language">UA</div>
                    <div class="b-header-dropdown">
                        <ul class="b-header-dropdown__nav list">
                            <li class="b-header-dropdown__item">
                                <a href="#" class="b-header-dropdown__link">English</a>
                            </li>
                            <li class="b-header-dropdown__item">
                                <a href="#" class="b-header-dropdown__link">Français</a>
                            </li>
                            <li class="b-header-dropdown__item">
                                <a href="#" class="b-header-dropdown__link">Deutsch</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="b-header__register f-button">Зареєструватись</div>
            </div>
        </div>
    </div>

</header>


