@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont/iconfont.eot');
    src:
        url('../fonts/iconfont/iconfont.eot?#iefix') format('eot'),
        url('../fonts/iconfont/iconfont.woff') format('woff'),
        url('../fonts/iconfont/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont/iconfont.svg#iconfont') format('svg');
}

@mixin icon-styles {
    font-family: "iconfont", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    speak: none; // only necessary if not using the private unicode range (firstGlyph option)
    text-decoration: none;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

$positions: (top, bottom, middle);

@each $position in $positions {
    .icon--align-#{$position} {
        &::before,
        &::after {
            vertical-align: #{$position};
        }
    }
}

%icon {
    @include icon-styles;
}

@function icon-char($filename) {
    $char: "";

    @if $filename == angle-down {
    $char: "\E001";
}
    @if $filename == angle-left {
    $char: "\E002";
}
    @if $filename == angle-right {
    $char: "\E003";
}
    @if $filename == angle-up {
    $char: "\E004";
}
    @if $filename == arrow-down {
    $char: "\E005";
}
    @if $filename == arrow-left {
    $char: "\E006";
}
    @if $filename == arrow-right {
    $char: "\E007";
}
    @if $filename == arrow-up {
    $char: "\E008";
}
    @if $filename == button-arrow {
    $char: "\E009";
}

@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
&:#{$insert} {
    @if $extend {
        @extend %icon;
    } @else {
        @include icon-styles;
    }

    content: icon-char($filename);
}
}

.icon-angle-down {
    @include icon(angle-down);
}

.icon-angle-left {
    @include icon(angle-left);
}

.icon-angle-right {
    @include icon(angle-right);
}

.icon-angle-up {
    @include icon(angle-up);
}

.icon-arrow-down {
    @include icon(arrow-down);
}

.icon-arrow-left {
    @include icon(arrow-left);
}

.icon-arrow-right {
    @include icon(arrow-right);
}

.icon-arrow-up {
    @include icon(arrow-up);
}

.icon-button-arrow {
    @include icon(button-arrow);
}

