{% extends "../layouts/_skin.twig" %}

<!-- Title -->
{% block title %}Homepage{% endblock %}
<!---->

<!-- Content -->
{% block content %}

<div class="b-main-block">
    <div class="b-main-block__container l-container">
        <div class="b-main-block__content">
            <div class="b-main-block__title">
                Підключайте досвідчених рекрутерів, <br> щоб знайти ідеального <br>
                <span class="typewrite"
                      data-period="1000"
                      data-type='[ "директора з маркетингу", "тест з маркетингу" ]'>директора з маркети</span><span class="typed-cursor">|</span>
            </div>
            <span class="b-main-block__text">Отримайте допомогу експертів у сорсингу, інтерв’ю та переговорах з  кандидатами з оплатою по факту найму і гарантіями якості</span>
            <a href="#" class="b-main-block__button f-button" role="button">Зареєструватись</a>
        </div>
        <div class="b-main-block__picture">
{#            <lottie-player autoplay loop mode="normal" src="img/animation.json"></lottie-player>#}
            <lottie-player mode="normal" src="img/animation.json"></lottie-player>
        </div>
    </div>
</div>

<div class="b-content-image b-content-image--background-F5">
    <div class="b-content-image__content">
        <div class="b-content-image__title">Виберіть кращого підрядника</div>
        <div class="b-content-image__text">Дізнайтеся як отримати висококласний рекрутинг з гарантіями якості</div>
        <a href="#" role="button" class="b-content-image__button">Дізнатися більше</a>
    </div>
    <div class="b-content-image__picture">
        <img src="img/content-image1.svg" alt="">
    </div>
</div>

<div class="b-content-work">
    <div class="l-container">
        <div class="b-content-work__title title--h2">Як це працює</div>
        <div class="b-steps-wrap">
            <div class="b-step">
                <div class="b-step__title">Крок 1</div>
                <span class="b-step__text">Реєструємося та укладаємо договір</span>
            </div>
            <div class="b-step">
                <div class="b-step__title">Крок 2</div>
                <span class="b-step__text">Публікуємо вакансію і вибираємо рекрутера</span>
            </div>
            <div class="b-step">
                <div class="b-step__title">Крок 3</div>
                <span class="b-step__text">Рекрутер знаходить для Вас найкращих кандидатів</span>
            </div>
            <div class="b-step">
                <div class="b-step__title">Крок 4</div>
                <span class="b-step__text">Наймаємо успішного кандидата і оцінюємо роботу рекрутера</span>
            </div>
        </div>
    </div>
</div>

<div class="b-content-image b-content-image--background-EF">
    <div class="b-content-image__content">
        <div class="b-content-image__title">Отримайте кращі умови</div>
        <div class="b-content-image__text">Скористайтеся можливістю визначати свої умови по вартості послуг і умовах оплати</div>
        <a href="#" role="button" class="b-content-image__button">Створити вакансію</a>
    </div>
    <div class="b-content-image__picture">
        <img src="img/content-image2.svg" alt="">
    </div>
</div>

<div class="b-content-benefits">
    <div class="l-container">
        <div class="b-content-benefits__title title--h2">Переваги</div>
        <div class="b-benefits-wrap">
            <div class="b-benefit">
                <div class="b-benefit__title">Економія бюджету</div>
                <span class="b-benefit__text">Ви узгоджуєте з рекрутером оптимальну вартість послуг і порядок розрахунків</span>
                <div class="b-benefit__image">
                    <img src="img/icon1.svg" alt="">
                </div>
            </div>
            <div class="b-benefit">
                <div class="b-benefit__title">Перевірені рекрутери</div>
                <span class="b-benefit__text">На платформі представлені лише перевірені рекрутери з унікальним досвідом</span>
                <div class="b-benefit__image">
                    <img src="img/icon2.svg" alt="">
                </div>
            </div>
            <div class="b-benefit">
                <div class="b-benefit__title">Гарантія якості</div>
                <span class="b-benefit__text">Платформа виступає гарантом безпеки усіх угод</span>
                <div class="b-benefit__image">
                    <img src="img/icon3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="b-content-image b-content-image--background-F5 mt-70 mt-lg-150 mb-100 mb-lg-100">
    <div class="b-content-image__content">
        <div class="b-content-image__title">Економте час і кошти</div>
        <div class="b-content-image__text">Підключайте різних підрядників в рамках єдиного договору - економте час на тендерних процедурах і погодженні договорів</div>
        <a href="#" role="button" class="b-content-image__button">Замовити демо</a>
    </div>
    <div class="b-content-image__picture">
        <img src="img/content-image3.svg" alt="">
    </div>
</div>

<div class="b-content-price">
    <div class="b-content-price__title title--h2">Скільки це коштує</div>
    <div class="b-content-price__subtitle">Виберіть параметри і дізнайтеся орієнтовну вартість послуг</div>
    <div class="b-content-form f-form">
        <div class="b-content-form__item f-input">
            <input type="number" class="f-input__element js-input-counter" placeholder="Заробітна плата співробітника" min="0">
        </div>
        <div class="b-content-form__item f-select">
            <select name="period" id="period" class="f-select__element js-select-counter" data-placeholder="Гарантійний період">
                <option value=""></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
    <a href="#" class="b-content-price__button f-button js-button-price">
        Замовити (<span class="count">0</span>грн)</a>
    <span class="b-content-price__other">Остаточна вартість послуг може змінюватися в залежності від того, якого рекрутера Ви виберете на проект, і які умови узгодите з ним.</span>

</div>


{% endblock %}
<!---->

