<div class="b-content-image b-content-image--background-f5">
    <div class="b-content-image__content">
        <div class="b-content-image__title">Економте час і кошти</div>
        <div class="b-content-image__text">Підключайте різних підрядників в рамках єдиного договору - економте час на тендерних процедурах і погодженні договорів</div>
        <a href="#" role="button" class="b-content-image__button">Замовити демо</a>
    </div>
    <div class="b-content-image__picture">
        <img src="img/content-image1.svg" alt="">
    </div>
</div>
