# EditorConfig helps developers define and maintain consistent coding styles between different editors and IDEs
# editorconfig.org

root = true

[*.scss]
indent_style=space
indent_size=4

[*.html]
indent_style=space
indent_size=4
