* {
    box-sizing: border-box;
}

.s-wrapper {
    .is-scroll-disabled & {
        overflow: hidden;
    }
}

.s-content {
    padding-top: rem(75);
}

.video-container {
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe, object, embed, video {
        height: 100%;
        left: 0;
        outline: none;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.image-center {
    img {
        display: block;
        margin: auto;
    }
}

.table-overflow {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

.mt-70 {
    margin-top: rem(70);
}

.mt-lg-150 {
    @include grid-breakpoint-up(lg) {
        margin-top: rem(150);
    }
}

.mb-70 {
    margin-bottom: rem(70);
}

.mb-lg-100 {
    @include grid-breakpoint-up(lg) {
        margin-bottom: rem(100);
    }
}
