$minHeightButton: rem(41);

.f-button {
    @include transition(background .3s ease);

    align-items: center;
    background: $siteThemeColor;
    border-radius: rem(4);
    color: $colorWhite;
    cursor: pointer;
    display: inline-flex;
    font-weight: $globalFontSemiBold;
    justify-content: center;
    min-height: $minHeightButton;
    padding: rem(10 19);
    text-decoration: none;

    @include hover {
        background-color: $siteThemeColorHover;
    }
}
