.b-content-image {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: rem(1200);
    padding: rem(15 65 15 75);

    @include grid-breakpoint-down(md) {
        flex-wrap: wrap;
        text-align: center;
        padding: rem(45 25);
    }

    &--background-F5 {
        background-color: $colorGrey--F5;
    }

    &--background-EF {
        background-color: $colorGrey--EF;
    }

    &--full {
        max-width: 100%;
    }

    &__title {
        @extend .title--h3;

        margin-bottom: rem(15);
    }

    &__content {
        max-width: rem(455);

        @include grid-breakpoint-down(md) {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    &__picture {
        padding-left: rem(10);

        @include grid-breakpoint-down(md) {
            flex: 0 0 100%;
            max-width: 100%;
            order: -1;
            padding: 0;
            margin-bottom: rem(20);
        }

        img {
            @include grid-breakpoint-down(md) {
                display: block;
                margin: auto;
            }
        }
    }

    &__text {
        font-size: rem(18);
        line-height: rem(27);
    }

    &__button {
        @extend .icon-button-arrow;
        @include transition(color .3s ease);

        align-items: center;
        color: $siteThemeColor;
        display: inline-flex;
        font-size: rem(18);
        font-weight: $globalFontSemiBold;
        line-height: rem(27);
        margin-top: rem(25);
        text-decoration: none;

        @include hover {
            color: $siteThemeColorHover;

            &::before {
                transform: translateX(rem(7));
            }
        }

        &::before {
            @include transition(transform .3s ease);

            font-size: rem(22);
            margin-left: rem(10);
            order: 1;
        }
    }
}
