// Grid breakpoints
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$gridColumns: 12 !default;

$gridBreakpoints: (
    xs: 0,
    sm: 375px,
    md: 768px,
    lg: 1024px,
    xl: 1280px
) !default;

$displays: none, block, flex, inline-flex !default;
