// Colors
//
// This section describes a color palette used for development in the project.
//
// Weight: 1
//
// Style guide: sass.colors
//
// Part: colors

$colorBlack: $globalColorBlack;
$colorWhite: $globalColorWhite;
$colorTransparent: $globalColorTransparent;

// State
$colorSuccess: #28a745;
$colorDanger: #dc3545;

//Black
//$colorBlack--10: #101010;

//Grey
$colorGrey--E5: #E5E5E5;
$colorGrey--F5: #F5EFF5;
$colorGrey--EF: #EFF5EF;
$colorGrey--FB: #FBFBFB;

//Blue
$colorBlue--1F: #1FACC5;
$colorBlue--4A: #4A9DB1;
$colorBlue--8B: #8BB1B8;

$siteTextColor: $colorBlack;
$siteThemeColor: $colorBlue--1F;
$siteThemeColorHover: $colorBlue--4A;


